@{
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
    ViewBag.Title = "CEC-Login Page";
}
<div class="row">
    <div class="logo">
        <img src="/Content/images/logo.png" />
    </div>
</div>
<div class="row">
    <div class="companyName">
        <h1>
            Consulting Engineers & Contractors (Pvt) Ltd</h1>
        <h2>
            Daily Running Chart</h2>
    </div>
</div>
<div class="row">
    <div class="logBox">
        <div class="icon">
            <img src="/Content/images/loginIcon.png" />
        </div>
        <div class="row">
            <div class="lable">
                User Name
            </div>
            <div class="data">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="lable">
                Password
            </div>
            <div class="data">
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="btn"> <input type="button" name="Login"/> </div>
        </div>
    </div>
</div>
