@model CECRunningChart.Web.Models.User.UserModel
@{
    Layout = "~/Views/Shared/_LoginPageLayout.cshtml";
    ViewBag.Title = "CEC-Login Page";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#UserName").focus();
    });
</script>
<div class="row">
    <div class="logo">
        <img src="/Content/images/logo.png" />
    </div>
</div>
<div class="row">
    <div class="companyName">
        <h1>
            Consulting Engineers & Contractors (Pvt) Ltd</h1>
        <h2>
            Daily Running Chart</h2>
    </div>
</div>
<div class="row">
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <div class="logBox">
        <div class="icon">
            <img src="/Content/images/loginIcon.png" />
        </div>
        @if (ViewBag.InvalidUsernameOrPassword != null && ViewBag.InvalidUsernameOrPassword)
        {
            <div class="row">
                <div class="lable">
                    &nbsp;
                </div>
                <div class="data" style="color:Red;">
                    &nbsp;Invalid Username or Pssword. Please try again.
                </div>
            </div>
        }
        
        <div class="row">
            <div class="lable">
                User Name
            </div>
            <div class="data">
                <input type="text" id="UserName" name="UserName" value="@Model.UserName" />
            </div>
        </div>
        <div class="row">
            <div class="lable">
                Password
            </div>
            <div class="data">
                <input type="password" id="Password" name="Password" />
            </div>
        </div>
        <div class="row">
            <div class="btn"> <input type="submit" name="Login" value=""/> </div>
        </div>
    </div>
}
</div>
