@{
    Layout = "~/Views/Shared/_Inner.cshtml";
}
@section Header {
    <div class="logo">
        <img src="/Content/images/logo.png" />
    </div>
    <!-- This part'll change -->
    <div class="companyName">
        Consulting Engineers & Contractors (Pvt) Ltd
    </div>
    <div class="logoutBtndiv">
        <input class="logoutBtn" type="button" />
    </div>
}
@section MainContent {
    <div class="">
    </div>
}
