@{
    Layout = "~/Views/Shared/_Inner.cshtml";
}

@section Header {
    <div class="logo">
        <img src="/Content/images/logo.png" />
    </div>
    <!-- This part'll change -->
    <div class="topNavBar">
        <div class="adminTopIcon displayNone">
            <!--if not admin add displayNone Class -->
            <a href="">
                <img src="/Content/images/manage_vehicles_machines.png" />
            </a><a href="">
                <img src="/Content/images/manage_pump_stations.png" />
            </a><a href="">
                <img src="/Content/images/manage_fuelprices.png" />
            </a><a href="">
                <img src="/Content/images/manage_lubricants.png" />
            </a><a href="">
                <img src="/Content/images/manage_projects.png" />
            </a><a href="">
                <img src="/Content/images/manage_reports.png" />
            </a><a href="">
                <img src="/Content/images/manage_users.png" />
            </a>
        </div>
        <div class="inspectorTopIcon ">
            <!--if not inspector add displayNone Class -->
            <a href="">
                <img src="/Content/images/approveRptIcon.png" />
            </a><a href="">
                <img src="/Content/images/manageRptIcon.png" />
            </a>
        </div>
        <div class="operatorTopIconPanel displayNone">
            <!--if not operator add displayNone Class -->
            <a href="">
                <img src="/Content/images/addRunningChartIcon.png" />
            </a><a href="">
                <img src="/Content/images/viewPastRptIcon.png" />
            </a>
        </div>
    </div>
    <div class="logoutBtndiv">
        <input class="logoutBtn" type="button" />
    </div>
}
@section MainContent {
<div class="innerPgContent">
<!--page Contents gose here -->
</div>
<div class="footer">
        <div style="float: left">
            ©Copyrights Received by Consulting Engineers & Contractors (Pvt) Ltd</div>
        <div style="float: right">
            Powerd by Creative and Quality Solutions</div>
    </div>
}