@{
    ViewBag.Title = "Index";
}

<h2>Manage Reports</h2>
<br />
<a href="@Url.Action("fuelconsumption")">Fuel Consumption Report – Company</a><br />
<a href="@Url.Action("hiredfuelreport")">Fuel Report – Hired Vehicle / Machine</a><br />
<a href="@Url.Action("drivertimesheet")">Driver / Operator Time Sheet</a><br />


