@{
    ViewBag.Title = "Reset Password";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#oldPassword").focus();

        $("#resetform").validate({
            rules: {
                oldPassword: {
                    required: true
                },
                newPassword: {
                    required: true
                },
                confNewPassword: {
                    required: true,
                    equalTo: "#newPassword"
                }
            },
            messages: {
                confNewPassword: "Password doesn't match"
            }
        });

        $("#resetform").submit(function () {
            if ($("#resetform").valid()) {
                return true;
            }
            else {
                return false;
            }
        });
    });
</script>
<fieldset>
<legend>
   Change Password</legend>
@if (ViewBag.Error != null)
{
    <div style="color:Red;">
        @ViewBag.Error
    </div>
}
@using (Html.BeginForm("reset", "user", FormMethod.Post, new { @id = "resetform" }))
{
    
    
        <div class="row">
            <div class="wrapper"> 
                <input type="hidden" id="id" name="id" value="@ViewBag.UserId" />
                <div class="editor-label">
                    Old Password
                </div>
                <div class="editor-field">
                    <input type="password" id="oldPassword" name="oldPassword" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper"> 
                <div class="editor-label">
                    New Password
                </div>
                <div class="editor-field">
                    <input type="password" id="newPassword" name="newPassword" maxlength="20" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="wrapper"> 
                <div class="editor-label">
                    Confirm New Password
                </div>
                <div class="editor-field">
                    <input type="password" id="confNewPassword" name="confNewPassword" maxlength="20" />
                </div>
            </div>
       </div>
       <div class="row">
            <input class="createBtn" type="submit" value="Reset" />
        </div>
}
</fieldset>
<div class="bckBtn">
    @Html.ActionLink("Back to Home", "manage", "home")
</div>
