@{
    ViewBag.Title = "Reset";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#oldPassword").focus();

        $("#resetform").validate({
            rules: {
                oldPassword: {
                    required: true
                },
                newPassword: {
                    required: true
                },
                confNewPassword: {
                    required: true,
                    equalTo: "#newPassword"
                }
            }
        });

        $("#resetform").submit(function () {
            if ($("#resetform").valid()) {
                return true;
            }
            else {
                return false;
            }
        });
    });
</script>
<h2>
    Reset</h2>
@if (ViewBag.Error != null)
{
    <div style="color:Red;">
        @ViewBag.Error
    </div>
}
@using (Html.BeginForm("Reset", "User", FormMethod.Post, new { @id = "resetform" }))
{
    <input type="hidden" id="id" name="id" value="@ViewBag.UserId" />
    <div class="editor-label">
        Old Password
    </div>
    <div class="editor-field">
        <input type="text" id="oldPassword" name="oldPassword" maxlength="20" />
    </div>
    <div class="editor-label">
        New Password
    </div>
    <div class="editor-field">
        <input type="password" id="newPassword" name="newPassword" maxlength="20" />
    </div>
    <div class="editor-label">
        Confirm New Password
    </div>
    <div class="editor-field">
        <input type="password" id="confNewPassword" name="confNewPassword" maxlength="20" />
    </div>
    <p>
        <input type="submit" value="Reset" />
    </p>
}
<div>
    @Html.ActionLink("Back to Home", "Manage", "Home")
</div>
