<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/Content/css/site.css" rel="stylesheet" type="text/css" />
    <script src="/Content/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <link rel="icon" type="image/png"  href="../../Content/images/logo_fav.png"/>
</head>
<body>
    <div class="header">
        @RenderSection("Header", required: true)  
    </div>
    <div class="mainContent">
       @RenderSection("MainContent", required: true) 
    </div>
</body>
</html>
