<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- common stuff -->
    <link href="/Content/css/logIn.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png"  href="../../Content/images/logo_fav.png"/>
    <script src="/Content/scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <!-- common stuff END -->
</head>
<body>
    <div class="pageContent">
        @RenderBody()
    </div>
</body>
</html>
