body
{
    background-image: url('/Content/images/innerBg.png');
    font-family: Arial;
    margin: 0px;
    padding: 0px;
    border: none;
    top: 0px;
    left: 0px;
}
.header
{
    width: 97%;
    margin: 0 20px;
}
.displayNone
{
    display:none !important;
}
.logo, .companyName
{
    float: left;
    position: relative;
}
.logoutBtndiv
{
    float:right;
}
.header .logo img
{
    height: 74px;
    width: 108px;
    padding: 10px;
}
.companyName
{
    color: #DA241B;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 0 0 0.2em #111118, 0 0 0.2em #E4E0D1, 0 0 0.2em #3F3F42;
    margin: 1.8% 5%;
}
.mainContent
{
    Width:97%;
    height:100%;
    float:left;
    min-height:535px;
    padding:10px;
    clear:both;
    background:#ffffff;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;   
}
@media all and (min-width:0) {
    .mainContent { min-height:600px \0/; }  /* IE9-IE10pp4 */
}
.logoutBtn
{
    border:none;
    margin:0px;
    padding:0px;
    /* background-image: url('/Content/images/logoutBtn.png'); */
    width:184px;
    height:40px;
    margin-top: 57px;
    cursor:pointer;
    margin-right:20px;
}
.innerPgContent
{
    float:left;
    min-height:450px;
    width:100%;
}
.footer
{
    float:left;
    clear:both;
    width:100%;
    font-size: 12px;
    padding-top: 60px;
}
.adminIconPanel, .inspectorIconPanel, .operatorIconPanel
{
    max-width:900px;
    width:100%;
    margin:50px auto;
    display:block;
}
.adminIconPanel a, .inspectorIconPanel a, .operatorIconPanel a
{
    text-decoration:none;
}
/*Top navigation styles*/
.topNavBar
{
    float:left;
    margin-top: 8px;
    height:91px;
    background-image: url('/Content/images/topNavBg.png');
}
.topNavBar .adminTopIcon, .topNavBar .inspectorTopIcon, .topNavBar .operatorTopIconPanel
{
    float:left;
}
.topNavBar .adminTopIcon img, .topNavBar .inspectorTopIcon img, .topNavBar .operatorTopIconPanel img
{
    float:left;
    width:88px;
    height:87px;;
}
/*Top navigation styles Ends*/
/*manage vehicle page styles*/
.tblModel
{
    padding: 3px 20px;
    text-align: center;
    background-color: #E8EEF4;
    border: solid 1px #E8EEF4;
    font-weight:bold;
}
.tblFont td
{
    font-size:12px;
}

.mainColum
{
    background-color:#F4ECE8;
    font-weight:bold;
    text-align:center;
}
.row
{
    float:left;
    clear:both;
}
.wrapper
{
    float:left;
    margin-right:40px;
}
.wrapper textarea
{
    width: 580px;
}
.wrapper select
{
    padding:0px 0px 0px 3px;
    height:25px;
}
.fuelType
{
    width:100px;
}
.fuelType select
{
    width:95px;
}
.createBtn
{
    background-color: #1A881A;
    padding: 5px 10px !important;
    border: 2px solid #999;
    color: white;
    font-size: 12px !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    min-width: 100px;
}
.genRptBtn
{
    background-color: #C9CF27;
    padding: 5px 10px;
    border: 2px solid #999;
    color: white;
    font-size: 12px !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    width: 150px;
    text-align:center;
}
/*manage vehicle page styles End*/
/*styles for commen inner pages */
.inrPgHeadding
{
    float:left;
    clear:both;
}
.inrPgHeadding h2
{
    float:left;
    color:#474B4D;
    font-family: arial;
    font-size: 20px;
}
.createNewRow
{
    float:left;
    clear:both;
}
.createNewRow a, .createNewRow a:hover 
{
    background-color: #1A881A;
    padding: 5px 10px;
    border: 2px solid #999;
    color: white;
    font-size: 12px !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}
.tblContainer
{
    float:left;
    clear:both;
    width:100%;
    margin-top:20px;
}
.bckBtn
{
    float:left;
    clear:both;
}
.bckBtn a, .bckBtn a:hover
{
    background-color: #35A0AF;
    padding: 5px 10px;
    border: 2px solid #999;
    color: white;
    font-size: 12px !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}
.displayStyles
{
    float: left;
    width: 110px;
    color: #4C5BAC;
}
.belBtn
{
    float:left;    
}
.belBtn input[type="submit"]
{
    background-color: #DD1A12;
    padding: 5px 10px;
    border: 2px solid #999;
    color: white;
    font-size: 12px !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
}
.createRpt
{
    float:left;
    clear:both;
    margin-top:15px;
}
.createRpt a, .createRpt a:hover {
    background-color: #1A881A;
    padding: 5px 10px;
    border: 2px solid #999;
    color: white;
    font-size: 12px !important;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    float:left;
    width: 232px;
    text-align: center;
}
/*manage vehicle page styles*/
.wrappernew textarea
{
    width: 200px;
}
.runningChrtSub
{
    font-size: 14px;
    text-decoration:underline;
    color:#585858;
}
.displayStylesDes {
    float: left;
    width: 450px;
    color: #4C5BAC;
}
.tblsubModel {
text-align: center;
background-color: #E8EEF4;
border: solid 1px #E8EEF4;
font-weight: bold;
}
/*styles for commen inner pages End*/