@model CECRunningChart.Web.Models.Pumpstation.PumpstationModel
@{
    ViewBag.Title = "Details";
}
<fieldset>
    <legend>Pumpstation Details</legend>
    <div class="row">
        <div class="wrapper">
            <div class="display-label">
                Pumpstation Name</div>
            <div class="display-field displayStyles">
                @Html.DisplayFor(model => model.PumpStationName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="wrapper">
            <div class="display-label">
                Description</div>
            <div class="display-field displayStylesDes">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</fieldset>
<div class="bckBtn">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) &#8901; @Html.ActionLink("Back to List", "Index") 
</div>
