@model CECRunningChart.Web.Models.Pumpstation.PumpstationModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PumpstationModel</legend>

    <div class="display-label">PumpStationName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PumpStationName)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
